node_modules/
.DS_Store
.env
.env.local
dist/
build/
*.log
.vscode/
.idea/

# Expo
.expo/
web-build/
expo-env.d.ts

# iOS / Android
ios/
android/

# Misc
npm-debug.*
yarn-debug.*
yarn-error.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
